---
layout: default
---

<div class="home">
	<ul class="post-list">
		{% for post in paginator.posts %}
		<li>
			<article>
				<header class="post-header">
					<div>
						<span>{% t 'posted_on' %} </span><span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
					</div>

					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h2>
				</header>

				<div class="entry-content">
					{{ post.excerpt }}

			    <div class="button-container">
			      <a class="button" href="{{ post.url | prepend: site.baseurl }}">{% t 'read_more' %}</a>
			    </div>
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>
</div>

{% include paginator.html %}
