---
layout: default
---

<div class="home">
	<ul class="post-list">
		{% for post in paginator.posts %}
		<li>
			<article>
				<header class="post-header">
					{% if post.permalink != "orientation" %}
					<div>
						<span>{% t 'posted_on' %}</span>
						<span class="post-meta">
						{% if site.lang == 'ar' %}
							{{ post.date | arabic_date }}
						{% else %}
							{{ post.date | date: "%B %-d, %Y" }}
						{% endif %}
						</span>
					</div>
					{% endif %}

					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h2>
				</header>

				<div class="entry-content">
					{{ post.excerpt }}

					{% if post.excerpt.size != post.content.size %}
			    	<div class="button-container">
			      	<a class="button" href="{{ post.url | prepend: site.baseurl }}">{% t 'read_more' %}</a>
			    	</div>
					{% endif %}
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>
</div>

{% if site.lang == 'en' %}
	{% include paginator.html %}
{% endif %}
